@font-face {
  font-family: "Happy";
  src: url("./assets/fonts/Happy Handmade.otf");
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  margin: 10vh 0;
  max-width: 15rem;
  min-height: 80vh;
}

.question {
  background-color: #f0f8ffc0;
  border-radius: 0.5rem;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.7);
  color: #000;
  font-size: 0.7em;
  max-width: 10rem;
  padding: 1rem;
  text-align: left;
  width: 90vw;
}

.logo{
  font-family: "Happy";
}